<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header::headFrag('Welcome')}"></head>
<body>

	<!--/* Link URL Expression : @{} (경로 작성할 때 사용) */-->
	<div th:replace="~{layout/header::gnbFrag}"></div>	
	
	<div th:object="${upload}">
		<h1 th:text="|*{uploadNo}번 게시글|"></h1>
		<ul>
			<li th:text="|제목 : *{uploadTitle}|"></li>
			<li th:text="|내용 : *{uploadContent}|"></li>
			<li th:text="|작성일자 : *{createdAt}|"></li>
			<li th:text="|수정일자 : *{modifiedAt}|"></li>
		</ul>
		<form method="post"	id="frm">
			<input type="hidden" name="uploadNo" th:value="*{uploadNo}">
			<input type="button" value="편집" onclick="fnEditPage()">
			<input type="button" value="삭제" onclick="fnRemoveUpload()">
			<input type="button" value="목록" onclick="fnList()">
		</form>
		
	</div>
	
	<hr>
	
	<div>
		<h4>첨부 목록 및 다운로드</h4>
		<th:block th:if="${#lists.isEmpty(attachList)}">
			<div>첨부된 파일이 없습니다.</div>
		</th:block>
		<th:block th:if="${not #lists.isEmpty(attachList)}">
		<div>
			<th:block th:each="attach:${attachList}">
				<div>
					<a th:href='/upload/download.do(attachNo=${attach.attachNo})'>
						<th:block th:if="${attach.hasThumbnail == 1}">
							<img th:src="@{/upload/display.do(attachNo=${attach.attachNo})}">
						</th:block>
						<th:block th:if="${attach.hasThumbnail == 0}">
							<img src="/images/attach1.png" width="50px">
						</th:block>
						<span th:text="${attach.originName}"></span>
					</a>
					
					<!-- 해당 첨부 삭제 버튼 만들기 -->
				</div>
			</th:block>
			<div>
				<a th:href='@{/upload/downloadAll.do(uploadNo=${upload.uploadNo})}'>모두 다운로드</a>
			</div>
		</div>
		</th:block>
	</div>
	
	
</body>
</html>