<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* layout/header.html의 headFrag조각으로 head 태그를 바꾼다. */-->
<head th:replace="~{/layout/header::headFrag('BBS목록')}"></head>

<!--/* 자바스크립트 내부에서 Variable Expression은 [[${}]]로 나타낸다. */-->
<script th:inline="javascript">
	
	$(function() {

		// 원글 달기 결과 메세지
		let addResult = /*[[${addResult}]]*/ null;  // addResult가 전달되지 않는 경우 null을 사용한다.

		if(addResult != null) {
			if(addResult == 2) {
				alert('원글이 생성되었습니다.');
			}else{
				alert('원글 생성이 실패했습니다.');
			}
		}
		
		// 게시글 삭제 결과 메세지
		let removeResult = /*[[removeResult]]*/ null; // removeResult가 전달되지 않는 경우 null을 사용한다.
		if(removeResult != null) {
			if(removeResult == 1) {
				alert('원글이 삭제되었습니다.');
			}else{
				alert('원글 삭제가 실패했습니다.');
			}
		}
		
		// 답글 달기 결과 메세지
		let addReplyResult = /*[[addReplyResult]]*/ null; // addReplyResult가 전달되지 않는 경우 null을 사용한다.
		if(addReplyResult != null) {
			if(addReplyResult == '1') {
				alert('답글이 생성되었습니다.');
			}else{
				alert('답글 생성이 실패했습니다.');
			}
		}
		
		// 삭제 버튼 이벤트
		$('.frm_remove').on('submit', function(event){
			if(confirm('BBS를 삭제하십니까?') == false) {
				event.preventDefault();
				return;
			}
		})
		
		// 답글 작성 화면 토글버튼
		$('.btn_reply').on('click', function() {
			let write = $(this).closest('.list').next();
			if(write.hasClass('blind')){ // 작성화면이 닫혀있고, 다른 작성 화면이 열려있다.
				$('.write').addClass('blind'); // 모든 작성 화면을 닫자.
				write.removeClass('blind'); // 현재 작성화면을 열자.
			}else { // 작성 화면이 열려있다.
				write.addClass('blind'); // 현재 작성화면을 닫자.
			}
		})
		
		
	})
	
	
</script>
<style>
	.blind {
		display: none;
	}
</style>

<body>

	<!--/* Variable Expression : ${} (값을 나타낼 때 사용) */-->

	<!--/* layout/header.html의 gnbFrag조각으로 head 태그를 바꾼다. */-->
	<div th:replace="~{/layout/header::gnbFrag}"></div>

	<h1>BBS 목록 보기</h1>
	
	<div>
		<a th:href="@{/bbs/write.html}">BBS 작성하러 가기</a>
	</div>
	
	<hr>
	
	<div>
		<!--/* 
			th:text="단순텍스트"
			th:utext="HTML텍스트(태그가 포함된 텍스트)" 
		*/-->
	
		<div th:utext="${pagination}"></div>
		<table border=1>
			<thead>
				<tr>
					<td>순번</td>
					<td>작성자</td>
					<td>제목</td>
					<td>IP</td>
					<td>작성일자</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="bbs,vs:${bbsList}">
					<th:block th:if="${bbs.state == 1}">
						<!-- 게시글 내용 -->
						<tr class="list">
    						<td th:text="|${beginNo - vs.index}번|"></td>
    						<td th:text="${bbs.writer}"></td>
    						<td>
    							<!-- DEPTH에 의한 들여쓰기 -->
								<th:block th:each="n:${#numbers.sequence(1,bbs.depth,1)}" th:utext="|&nbsp;&nbsp;&nbsp;|">
								</th:block>
								<!-- 답글은 [Re]로 표시하기 -->
                                <th:block th:if="${bbs.depth > 0}" th:text="[Re]"></th:block>
								<span th:text="${bbs.title}"></span>
								<!-- 답글 작성하기 버튼 -->
								<input type="button" value="답글작성" class="btn_reply">
							</td>
							<td th:text="${bbs.ip}"></td>
							<td th:text="${#dates.format(bbs.createdAt, 'yyyy/MM/dd HH:mm')}"></td>
							<td>
								<!--/* 작성자만 삭제 가능 */-->
								<th:block th:if="${bbs.writer == loginId}">
									<form class="frm_remove" method="post" th:action="@{/bbs/remove.do}">
										<input type="hidden" name="bbsNo" th:value="${bbs.bbsNo}">
										<button>삭제</button>
									</form>
								</th:block>
							</td>
						</tr>
						<!-- 답글 작성 화면 -->
						<tr class ="blind write">
							<td colspan="6">
								<form method="post"	th:action="@{/bbs/reply/add.do}">
									<div>
										<label for="writer">작성자</label>
										<input id="writer" name="writer" required="required">
									</div>
									<div>
										<label for="title">제목</label>
										<input id="title" name="title" required="required">
									</div>
									<div>
										<button>답글달기</button>
										<!-- 원글의 depth, groupNo, groupOrder를 함께 보낸다. -->
										<input type="hidden" name="depth" th:value="${bbs.depth}">
										<input type="hidden" name="groupNo" th:value="${bbs.groupNo}">
										<input type="hidden" name="groupOrder" th:value="${bbs.groupOrder}">
									</div>
								</form>
							</td>
						</tr>
					</th:block>
					
					<th:block th:if="${bbs.state == 0}">
						<tr>
							<td th:text="${beginNo - vs.index}"></td>
							<td colspan="5">삭제된 게시글입니다.	</td>
						</tr>
					</th:block>
				
				</th:block>
			</tbody>
		</table>
	</div>
	
	
</body>
</html>